<app-header></app-header>
<!-- LP -->
<div id="LP" class="tabcontent">
    <div class="row LP">
        <div class="col-sm-8">
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
            <div class="row">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-primary music-button"></button>
                    <button type="button" class="btn btn-secondary music-button"></button>
                    <button type="button" class="btn btn-success music-button"></button>
                    <button type="button" class="btn btn-danger music-button"></button>
                    <button type="button" class="btn btn-warning music-button"></button>
                    <button type="button" class="btn btn-info music-button"></button>
                    <button type="button" class="btn btn-light music-button"></button>
                    <button type="button" class="btn btn-dark music-button"></button>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="text-align: center;">
            <p class="function-title">Musik Makr5000</p>
            <div class="row">
                <div>
                    <button class="btn btn-primary pick-function-button">PB</button>
                </div>

            </div>
            <div class="row">
                <div>
                    <button class="btn btn-success pick-function-button">DB</button>
                </div>
            </div>
            <div class="row">
                <div>
                    <button class="btn btn-warning pick-function-button">MS</button>
                </div>
            </div>
            <div class="row">
                <div>
                    <button class="btn btn-danger pick-function-button">REG</button>
                </div>
            </div>
        </div>

    </div>
</div>