/*LP*/

.LP {
    margin-top: 100px;
}

.function-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.pick-function-button {
    margin: 2px;
    width: 4rem;
}

.music-button {
    height: 2rem;
    border: 2px solid black;
}