<app-header></app-header>

<!-- Tab content -->
<div id="AUD" class="tabcontent">
    <div class="row sound-wave">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    Sound waves here!
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-light sound-wave-button">Original</button>
        </div>
    </div>

    <div class="row sound-wave">
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    Sound waves here!
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-light sound-wave-button">New</button>
        </div>
    </div>

    <div class="row" style="margin-top:2px;">
        <div class="col-2">

        </div>
        <div class="col-6" style="text-align: right;">
            <button class="btn btn-light AUD-select-file-button">FileName.mp3</button>
        </div>
        <div class="col-4">
            <a href="#" class="icon-button"><i class="far fa-play-circle fa-2x"></i></a>
        </div>
    </div>

    <div class="row" style="margin-top:2px;">
        <div class="col-2">

        </div>
        <div class="col-6" style="text-align: right;">
            <div class="row">
                <div class="col-3">
                    <button class="btn btn-light AUD-mode-button">DIST</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light AUD-mode-button">RVRB</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light AUD-mode-button">DELAY</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-light AUD-mode-button">PITCH</button>
                </div>
            </div>


        </div>
        <div class="col-4">
            <a href="#" class="icon-button"><i class="fas fa-pause-circle fa-2x"></i></a>
        </div>
    </div>

    <div class="row" style="margin-top:2px;">
        <div class="col-2"></div>
        <div class="col-6" style="text-align: right;">
            <button class="btn btn-light AUD-select-file-button">DATA BASE ACCESS</button>
        </div>
        <div class="col-4">
            <a href="#" class="icon-button"><i class="fas fa-record-vinyl fa-2x"></i></a>
        </div>
    </div>

</div>