/*AUD*/

.sound-wave {
    margin-top: 100px;
    margin: center;
    margin-bottom: 0px;
}

.sound-wave-button {
    width: 100%;
    height: 100%;
}

.AUD-select-file-button {
    margin-bottom: center;
    width: 100%;
}

.AUD-mode-button {
    width: 100%;
}