<app-header></app-header>

<!-- DSP -->
<div id="DSP" class="slider-container">
    <div class="row" style="text-align: center;">
        <div class="col-3">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-danger range-select-button">Distortion</button>
                </div>
            </div>

            <input type="range" orient="vertical" min="1" max="100" step="1" value="50" class="slider" class="range blue" id="myRange" />
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-info range-select-button">Reverb</button>
                </div>
            </div>

            <input type="range" orient="vertical" min="1" max="100" step="1" value="50" class="slider" class="range blue" id="myRange" />
        </div>


        <div class="col-3">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-success range-select-button">Delay</button>
                </div>
            </div>


            <input type="range" orient="vertical" min="1" max="100" step="1" value="50" class="slider" class="range blue" id="myRange" />
        </div>

        <div class="col-3">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btn btn-warning range-select-button">Pitch</button>
                </div>
            </div>

            <input type="range" orient="vertical" min="1" max="100" step="1" value="50" class="slider" id="myRange" class="range blue" />

        </div>

    </div>